.Adversting {
    width: 1585px;
    height: 328px;
    margin-top: 72px;
    margin-left: 40px;
    margin-bottom: 105px;
}

.Adversting_Carts {
    display: flex;
}

.first_Adversting_cart,
.second_Adversting_cart,
.third_Adversting_cart {
    width: 507px;
    height: 328px;
    display: flex;
}

.second_Adversting_cart {
    margin-left: 32px;
}

.third_Adversting_cart {
    margin-left: 32px;
}

.first_Adversting_cart img {
    width: 237px;
    height: 328px;
    object-position: center;
    object-fit: cover;
}

.right_cart_div {
    width: 237px;
    height: 328px;
    margin-left: 33px;
}

.Modular_Packaging {
    padding-top: 100px;
}

.Read_story {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}