.Banner {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left {
    width: 1220px;
    height: 100vh;
    background-image: url("https://cdn.shopify.com/s/files/1/0505/9044/9849/files/Frame_581_2048x.png?v=1661178864");
    background-position: center;
    background-size: cover;
}

.right {
    width: 500px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Staple_it {
    position: absolute;
    font-weight: 600;
    padding-left: 20px;
}

.White_Essentials {
    position: absolute;
    font-weight: 400;
    padding-left: 20px;
    top: 410px;
}

.texts {
    position: absolute;
    font-size: 13px;
    padding-left: 20px;
    top: 460px;
}

.Shop_here {
    position: absolute;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    padding-left: 20px;
    top: 520px;
}

/* https://cdn.shopify.com/s/files/1/0505/9044/9849/files/Frame_581_2048x.png?v=1661178864 */